.home_photo {
  height: 300px;
  width: 600px;
  border-radius: 10px;
}

.all_photo {
  height: 300px;
  width: 600px;
  border-radius: 10px;
}

.photos_div {
  padding-top: 100px;
}

.welcome {
  font-size: 30px; 
  font-family: Courier; 
  padding-top: 100px; 
  display: flex;
  justify-content: center; 
  align-items: center;
}

.description {
  font-size: 20px; 
  font-family: Courier; 
  padding-top: 20px; 
  display: flex;
  justify-content: center; 
  align-items: center;
}

.card {
  display: flex;
  justify-content: center; 
  align-items: center;
}

.create_card {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding-top: 200px;
}

.amenities {
  font-size: 20px; 
  font-family: Courier; 
  padding-top: 100px; 
  justify-content: center; 
  align-items: center;
}
